<% provide(:title, "Home ") %>
<% provide(:title, "| Tweeter Sample App") %>
<% if logged_in? %>
<div class="container-fluid">
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <div class="card">
          <%= render 'shared/user_info' %>
        </div>
      </section>
      <section class="micropost_form">
        <div class="card">
          <%= render 'shared/micropost_form' %>
        </div>
      </section>
      <section class="stats">
        <div class="card">
          <%= render 'shared/stats' %>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <h3 class="text-center mt-3">Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
</div>
<% else %>
<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to KFX-social</h1>
  <p class="lead">This is a social media app</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>
</div>
<% end %>
